<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.atguigu.springcloud.dao.PaymentDao">

    <insert id="create" parameterType="Payment" useGeneratedKeys="true" keyProperty="id">
            insert into payment(serial) values(#{serial});

    </insert>

    <resultMap id="BaseResultMap" type="com.atguigu.springcloud.entities.Payment">
        <id column="id" property="id" jdbcType="BIGINT"></id>
        <id column="serial" property="serial" jdbcType="VARCHAR"></id>
    </resultMap>
    <select id="getPaymentById"  parameterType="Long" resultMap="BaseResultMap">
            select * from payment where id=#{id}
    </select>


    <select id="findAllPayment"   resultMap="BaseResultMap">
            select * from payment
    </select>

    <update id="updateCountry" parameterType="java.lang.String">
        update code_libaray set item_no=#{itemNo} , item_name=#{countryNameNew}
        where code_no='TP_Nationality_2' and item_name=#{countrynameOld}
    </update>

<!--    sortCountry-->
    <update id="sortCountry" >
        update code_libaray set sort_no=#{sortNo}
        where code_no='TP_Nationality_2' and item_name=#{countryNameNew}
    </update>

<!--    updateCertificate-->
    <update id="updateCertificate" parameterType="java.lang.String">
        update code_libaray set item_no=#{itemNoNeed},code_no='TP_DocumentType_2'
        where code_no=#{type} and item_name=#{certificateNameNeed}
    </update>

<!--    sortCertificate-->
    <update id="sortCertificate" >
        update code_libaray set sort_no=#{sortNo}
        where code_no='TP_DocumentType_2' and item_name=#{certificateNameNeed}
    </update>
<!--   updateCoin -->
    <update id="updateCoin" >
        update code_libaray set item_no=#{itemNoNeed},code_no='TP_currencyCode_2',sort_no=#{sortNo}
        where code_no=#{type} and item_name=#{coinNameNeed}
    </update>

<!--    updateExchange-->
    <update id="updateExchange" >
        update code_libaray set item_no=#{itemNoNeed},code_no='TP_ListedExchange_2',sort_no=#{sortNo}
        where code_no=#{type} and item_name=#{coinNameNeed}
    </update>
</mapper>
